extends partials/layout.pug

block content


    div.game-options.ds-card
        div.ds-card-body
            h2 Game Options

            label.ds-field-checkbox(for='dark-mode')
                input.dark-mode(type='checkbox', id='dark-mode')
                span
                  | Dark Mode


            fieldset
                legend
                    | Word Size

                p
                    | How long should the words be?
                    br
                    | (Note, this takes effect on the
                    em next
                    |  word!)
                div.ds-stack
                    label.ds-field-radio(for='word-length-5')
                        input.word-length(type='radio', name='word-length', id='word-length-5', value='5')
                        span
                          | 5-letters
                    label.ds-field-radio(for='word-length-6')
                        input.word-length(type='radio', name='word-length', id='word-length-6', value='6')
                        span
                          | 6-letters

            aside.actions
                button.close-options.ds-button(type='button', value='Close')
                  | Close

    div.ds-card
        div.ds-card-body
            article.game-board.ds-text-centered.ds-stack
                section.past-guesses
                    each guess in guesses
                        aside.guess
                            each letter in guess
                                span(class='letter check-' + letter.check)= letter.letter

                if !solved
                    section.guess-inputs
                        aside.guess
                            - var i = 0;
                            while i < wordLength
                                span.input.letter(id='guess-' + i)
                                - i++

                        p.guess-info.hidden

                    section.all-letters
                        aside.row.top-row
                            each letter in ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p']
                                span(class='letter letter-' + letter)= letter
                        aside.row.middle-row
                            each letter in ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l']
                                span(class='letter letter-' + letter)= letter
                        aside.row.bottom-row
                            each letter in ['z', 'x', 'c', 'v', 'b', 'n', 'm', 'del']
                                span(class='letter letter-' + letter)= letter

                    button.ds-button(type='button', id='submit-guess') Guess

                - var hideSolution = 'hidden'
                - var hideGiveup = ''
                if solved
                    - hideSolution = ''
                    - hideGiveup = 'hidden'
                p(class='solution-info ' + hideSolution)
                    if solved
                        - var suffix = ''
                        if guesses.length > 1
                            - suffix = 'es'
                        | Congratulations! You solved this Guessle in
                        strong= guesses.length
                        = ' guess' + suffix + '!'
                        br
                        br
                        | The word was 
                        strong= solution
                        | .

                p.surrender-info.hidden
                    | You'll get it next time!
                    br
                    | The word was 
                    strong.answer ???
                    | .


                aside.actions
                    a(href='#', class='give-up ds-cta ds-cta-blue ' + hideGiveup) I give up!
                    a(href='/?new', class='new-word ds-cta ' + hideSolution) New Word Please!



    div.game-help.ds-card
        div.ds-card-body
            h2 Game Help
            p
                | The object of the game is to guess the word. You do this by getting
                | clues each time you guess. If you see a letter in
                span.letter.check-0 gray
                | , it does not appear in the final solution. If you see a letter in
                span.letter.check-1 yellow
                | , it appears in the solution, but not where you have have
                | guessed. And if you see a letter in
                span.letter.check-2 green
                | , you have that one in the correct position!
            p
                | Once you have all of the letters guessed, you win! You can always
                | give up on that word and ask for a new one. And once you win, you
                | can ask for a new word. (You will also see a link to the definition
                | of the solved word in case you want to learn about it!)

            p
                | You can either use the in-game virtual keyboard to type or you can
                | use an actual keyboard. The in-game virtual keyboard also shows
                | you letters you have guessed already, and their result.

            p
                | Words come from 
                a(href='https://elections.democracyclub.org.uk/', target='_blank') Democracy Club's EveryElection project
                | . When you guess a word, it must be in the game's dictionary! There are
                | currently 699 possible 5-letter wards and 1,153 6 letter wards.

            p
                strong Note: 
                | Some words have more than 1 of the same letter (for example, "brood")!
                | In this case, you may get a green or yellow indicator when you use one
                | of those letters, but there may be a duplicate! If you guess a word with
                | two letters, you might get one green and one yellow! (A gray letter 
                em always
                |  means it does not appear at all in the solution.)


    script(src='game.js')
